---
// 页脚组件
import NavigationFooter from "./cover/NavigationFooter.astro";
---

<footer class="bg-gray-800 text-white py-12 mt-12">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <!-- 品牌信息 -->
            <div class="col-span-1 lg:col-span-1">
                <h3 class="text-2xl font-bold text-indigo-400 mb-4">丁科技</h3>
                <!-- <p class="text-gray-400 mb-6 leading-relaxed">
                    提供最新科技资讯、产品评测和购买指南，帮助您做出明智的科技消费决策。
                </p> -->
            </div>

            <NavigationFooter />
        </div>

        <!-- 版权信息 -->
        <div
            class="border-t border-gray-700 mt-10 pt-6 text-center text-gray-500 text-sm"
        >
            <div class="flex flex-col items-center">
                <p>Copyright©丁科技网 All Rights Reserved 版权所有 复制必究</p>
                <a href="http://beian.miit.gov.cn/">京ICP备15000486号-1</a>
            </div>
            <p class="mt-2">
                本站郑重声明：所载文章、数据仅供参考，投资有风险，选择需谨慎。
            </p>
        </div>
    </div>
</footer>
